.wrapper
	input(type="radio", name="radio", id="noFilter" checked)
	input(type="radio", name="radio", id="bwFilter")
	label(for="noFilter") Normal
	label(for="bwFilter") Black &amp; White
	iframe(src="https://www.youtube.com/embed/QkubQCI4Fxo?autoplay=1;rel=0&amp;controls=0&amp;showinfo=0", frameborder="0" allow="autoplay; encrypted-media")
    